@model FitnessTracker.ViewModels.InsightsViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ml-4 mr-4 h-100">
    <div class="row d-flex h-100">
        <partial name="DashboardSidebarPartial"/>
        <div class="col-6 mycols border-left border-right">
            <h1>@Model.currentDailyCalories/<div class="dailyCaldiv">@Model.RequiredCalories kcal</div></h1>
            <div>
                <h3>Remaining Recommended Calories:<div class="remainingCalories">@Model.RemainingCalories</div></h3>
            </div>
            <div class="activityLevel">
                <label>
                    <input type="radio" class="option-input radio" name="interactActivity" onclick="multiplyActivityLevel(1.2, @Model.RequiredCalories, @Model.currentDailyCalories)" />
                    Sedentary lifestyle
                </label> <br />
                <label>
                    <input type="radio" class="option-input radio" name="interactActivity" onclick="multiplyActivityLevel(1.4, @Model.RequiredCalories, @Model.currentDailyCalories)" checked />
                    Usual
                </label><br />
                <label>
                    <input type="radio" class="option-input radio" name="interactActivity" onclick="multiplyActivityLevel(1.6, @Model.RequiredCalories, @Model.currentDailyCalories)" />
                    Moderate Exercise
                </label><br />
                <label>
                    <input type="radio" class="option-input radio" name="interactActivity" onclick="multiplyActivityLevel(1.8, @Model.RequiredCalories, @Model.currentDailyCalories)" />
                    Very active lifestyle
                </label>
            </div>
            
            <div class="statsButtons">
                <a asp-controller="Food" asp-action="FoodHistory" style="text-decoration: none">
                    <div class="button regbtn" id="button-2">
                        <div id="slide"></div>
                        <div class="innerText"><i class="fas fa-book-open"></i> Food History</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-3 mycols">
            <h3>Workouts !!!</h3>
        </div>
    </div>
</div>